{% extends 'views/base/base.html' %}

{% block content %}
  <h1 class="home-title">Home Page</h1>
  {% if name %}
    <section class="user">
      <header>
        <span class="image">{{name.slice(0, 1).toUpperCase()}}</span>
        <h3>Welcome, {{ name }}</h3>
      </header>
      <footer>
        <button id="info-btn">获取数据</button>
        <a href="/modify">修改密码</a>
      </footer>
    </section>
  {% endif %}
  <script>
    const button = document.querySelector('#info-btn')
    if (button) {
      button.addEventListener('click', (e) => {
        e.preventDefault()
        fetch('/api/userInfo', {
          credentials: 'include'
        }).then((response) => {
          return response.json()
        }).then((data) => {
          console.log(data)
        })
      }, false)
    }
  </script>
{% endblock %}