{% extends 'views/base/base.html' %}

{% block content %}
  <div class="form-section">
    <form action="/reset" method="post" autocomplete="off">
      <input type="password" name="pass1" placeholder="password" class="text-input" required>
      <input type="password" name="pass2" placeholder="confirm password" class="text-input" required>
      <input type="submit" value="submit">
    </form>
  </div>
  <script>
    const form = document.querySelector('form')
    form.addEventListener('submit', (e) => {
      e.preventDefault()
      if (form.pass1.value !== form.pass2.value) {
        alert('password do not match')
      } else {
        form.submit()
      }
    }, false)
  </script>
{% endblock %}