{% extends 'views/base/base.html' %}

{% block content %}
  <div class="form-section">
    <form action="/signup" method="post" autocomplete="off">
      <input type="email" name="email" placeholder="email" class="text-input" required>
      <input type="text" name="user" placeholder="username" class="text-input" required>
      <input type="password" name="password" placeholder="password" class="text-input" required>
      <input type="submit" value="sign up">
    </form>
    <div class="footer">
      <a href="/login">Login</a>
    </div>
  </div>
{% endblock %}