{{#> layout}}

{{#*inline "body"}}
<div class="form-section">
  <form action="/update" method="post" autocomplete="off">
    <input type="password" name="pass" placeholder="Old password" class="text-input" required>
    <input type="password" name="pass1" placeholder="New password" class="text-input" required>
    <input type="password" name="pass2" placeholder="Confirm new password" class="text-input" required>
    <input type="submit" value="Update">
  </form>
</div>
<script>
  const form = document.querySelector('form')
  form.addEventListener('submit', (e) => {
    e.preventDefault()
    if (form.pass1.value !== form.pass2.value) {
      alert(`Password doesn't match the confirmation.`)
    } else {
      form.submit()
    }
  }, false)
</script>
{{/inline}}

{{/layout}}
