* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background: #03A9F4;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2)
}

header nav a {
  color: #fff;
}
header nav a:hover {
  text-decoration: underline;
}

/*home page*/
.home-title {
  padding-left: 20px;
  margin-top: 30px;
}

section.user {
  width: 800px;
  margin: 30px auto 0;
  padding: 28px 0 8px 28px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 2px rgba(50, 50, 50, 0.2);
  animation: show-form 0.6s ease-in-out forwards;
}
section.user header {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.user header span.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 30px;
  font-size: 38px;
  color: #fff;
  background-color: #eee;
  border-radius: 50%;
}
section.user header h3 {
  font-weight: normal;
}
section.user footer {
  display: flex;
  height: 40px;
  margin-top: 120px;
  justify-content: flex-end;
  align-items: center;
}
section.user footer button, section.user footer a {
  padding: 6px 20px;
  font-family: inherit;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s;
}
section.user footer button {
  border: none;
  outline: none;
  background: #fff;
  color: #03A9F4;
}
section.user footer button:hover, section.user footer a:hover {
  background-color: #eee;
}
section.user footer button:active, section.user footer a:active {
  background-color: #ccc;
}
/* login */

@keyframes show-form {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-section {
  width: 350px;
  margin: 120px auto 0;
  /*padding: 0 20px;*/
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  animation: show-form 0.6s ease-in-out forwards;
}
form {
  padding: 30px 20px;
}
form:after {
  content: '';
  display: table;
  clear: both;
}
form input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}
form .text-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
form .text-input::-webkit-input-placeholder {
  color: #888;
}
form .text-input::-moz-placeholder {
  color: #888;
}
form .text-input::-ms-input-placeholder {
  color: #888;
}
form .text-input:focus {
  border-bottom: 2px solid #ec407a;
}
form input[type=submit] {
  float: right;
  padding: 6px 18px;
  /*margin-top: 20px;*/
  background: #e91e63;
  color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.21);
  border-radius: 2px;
}

form input[type=submit]:hover {
  background: #ec407a;
}
.form-section .footer {
  display: flex;
  height: 48px;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}
.form-section .footer a {
  color: #bbb;
  font-size: 12px;
}