* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  background: #03A9F4;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

header nav a {
  color: #fff;
  font-size: 18px;
}

/*home page*/
.home-title {
  margin-top: 180px;
  text-align: center;
}

section.user {
  position: relative;
  width: 800px;
  height: 280px;
  margin: 120px auto 0;
  padding: 24px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  animation: show-form 0.6s ease-in-out forwards;
}
section.user header {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section.user header span.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 24px;
  font-size: 28px;
  color: #fff;
  background-color: #ff5722;
  border-radius: 50%;
}
section.user header h3 {
  font-weight: normal;
  color: #666;
}
section.user .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #333;
}
section.user footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
section.user footer button, section.user footer a {
  padding: 10px 12px;
  font-family: inherit;
  font-size: 16px;
  color: #333;
  border-radius: 2px;
  transition: background-color 0.3s;
}
section.user footer button {
  border: none;
  outline: none;
  background: #fff;
  color: #03A9F4;
}
section.user footer button:hover, section.user footer a:hover {
  background-color: #eee;
}
section.user footer button:active, section.user footer a:active {
  background-color: #ccc;
}
/* login */

@keyframes show-form {
  0% {
    opacity: 0;
    top: 38%;
  }
  100% {
    opacity: 1;
    top: 40%;
  }
}

.form-section {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  animation: show-form 450ms ease-in-out forwards;
}
form {
  padding: 38px 24px 24px;
}
form.login {
  padding-bottom: 16px;
}
form:after {
  content: '';
  display: table;
  clear: both;
}
form input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}
form .text-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 36px;
  border-bottom: 1px solid #e0e0e0;
}
form .text-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .text-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .text-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .text-input:focus {
  border-bottom: 2px solid #ec407a;
}
form input[type=submit] {
  float: right;
  padding: 10px 18px;
  line-height: 1;
  background: #e91e63;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
}

form input[type=submit]:hover {
  background: #ec407a;
}
.form-section .footer {
  display: flex;
  height: 32px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
}
.form-section .footer a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: 500;
}
